<ion-content class="ion-padding login-bg">
  <div class="login-container">
    <img src="assets/helicopter.svg" alt="JASFLY" class="login-logo" />
    <h1 class="login-title">JASFLY S.A.</h1>
    <p class="login-subtitle">Identifíquese para continuar</p>

    <div class="login-card">
      <span class="select-label">Seleccione Piloto:</span>
      <ion-item lines="none">
        <ion-select [(ngModel)]="selectedPilotId" interface="popover" placeholder="Toque aquí para elegir">
          <ion-select-option *ngFor="let pilot of pilots" [value]="pilot.id">
            Cpt. {{ pilot.Nombre || pilot.nombre }} {{ pilot.apellido }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <ion-button class="login-btn" expand="block" (click)="ingresar()">INGRESAR</ion-button>
  </div>
</ion-content>